{% extends "base.html" %}
{% load static %}
{% block page_content %}
    <div class="center_content">
        <div class="left_content">
            <div class="title"><span class="title_icon"><img src="{% static 'images/bullet1.gif' %}" alt=""/></span>Souvenirs
            </div>
            {% for souvenir in souvenirs %}
                <div class="feat_prod_box">
                    <div><img src="{{ souvenir.image }}" enctype="multipart/form-data"
                              class="card-img-top" alt=""></div>
                    <div class="prod_det_box">
                        <div class="box_top"></div>
                        <div class="box_center">
                            <div class="prod_title">{{ souvenir.name }}</div>
                            <p class="details">{{ souvenir.description }}</p>
                            <a href="{% url 'souvenirs details' souvenir.pk %}" class="more">- more details -</a>
                            <div class="clear"></div>
                        </div>
                        <div class="box_bottom"></div>
                    </div>
                    <div class="clear"></div>
                </div>
            {% endfor %}
            <div class="clear"></div>
        {% if request.user.is_staff %}
       <a class="button edit" href="{% url 'souvenirs create' %}">Create Souvenir</a>
        {% endif %}
        </div>
        <!--end of left content-->

        <!--end of right content-->
        <div class="clear"></div>
    </div>
    <!--end of center content-->
{% endblock %}
