{% extends 'base.html' %}
{% load static %}
{% block page_content %}
    <div class="center_content">
        <div class="left_content">
            <div class="title"><span class="title_icon"><img src="{% static 'images/bullet1.gif' %}" alt=""/></span>About
                us
            </div>
            <div class="feat_prod_box_details">
                <p class="details"><img src="{% static 'images/about.gif' %}" alt="" class="right"/> Giving flowers is a classic gesture of love, ask for forgiveness or hope for friendship.
Laid flowers to a loved one, make it a pleasant surprise, smile the day or somebody’s celebration.
Our e-shop is well organized and easy to use. We make our bouquets, baskets and gifts with love and skill. We offer timely and professional flower delivery in Sofia and across Bulgaria.
            </div>
            <div class="clear"></div>
        </div>
        <!--end of left content-->

        <!--end of right content-->
        <div class="clear"></div>
    </div>
    <!--end of center content-->
{% endblock %}
