{% extends 'base.html' %}
{% block page_content %}
    <div class="center_content">
        <div class="left_content">

            <div class="title"><span class="title_icon"> </span>{{ jewels.name }}
            </div>

            <div class="feat_prod_box_details">

                <div class="prod_img"><img width="100px" src="{{ jewels.image.url }}" alt="{{ jewels.image }}"/><br/>
                    <br/>
                </div>
                <div class="prod_det_box">
                    <div class="box_top"></div>
                    <div class="box_center">
                        <div class="prod_title">Details</div>
                        <p class="details">{{ jewels.description }} </p>
                        <div class="price"><strong>Quantity:</strong> <span class="red">{{ jewels.quantity }}</span>
                        </div>
                        <div class="price"><strong>PRICE (per one):</strong> <span
                                class="red">{{ jewels.price|floatformat:2 }} BGN</span></div>
                        <div class="price"><strong>TOTAL:</strong> <span
                                class="red">{{ jewels.multiplied_quantity_with_price|floatformat:2 }} BGN</span></div>
                        <div class="price"><strong>MATERIALS:</strong> <span class="colors">{{ jewels.materials }}
                            {% if is_owner %}
                <br><br><br><a class="button edit" href="{% url 'jewels edit' jewels.pk %}">Edit Jewel</a>
                <a class="button delete" href="{% url 'jewels delete' jewels.pk %}">Delete Jewel</a>
                            {% endif %}
            </span> <span


                        </div>
                        <div class="box_bottom"></div>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </div>
            <!--end of left content-->

            <div class="clear"></div>
        </div>

        <div class="clear"></div>
    </div>
    <!--end of left content-->

    <!--end of right content-->
    <div class="clear"></div>
    </div>








{% endblock %}